<div class="homeContainer">
    <div class="textContainer">
        <div class="mainTitleContainer" >
            <h3 data-aos="fade-down" data-aos-duration="1000">Deneme Takip</h3>
        </div>
        <div class="subTitleContainer" >
            <h4 data-aos="fade-up" data-aos-duration="3000">Deneme takip ile yks serüvenine atıl. İstediğin üniversite hayal değil!</h4>
        </div>
        <div class="buttonContainer"data-aos="fade-up" data-aos-duration="3000">
            <button routerLink="uye-ol" class="uyeOlButton"  >Hemen Katıl</button>
        </div>
    </div>
</div>
<div class="gosterimlerContainer">
    <div class="gosterimContainer analizContainer">
        <div class="gosterimText gosterimTextLeft">
            <div class="gosterimBaslikContainer" >
                <h3 data-aos="fade-left" data-aos-duration="1000">Analiz</h3>
            </div>
            <div class="gosterimAltBaslikContainer" >
                <h4 data-aos="fade-left" data-aos-duration="3000">Analiz yap, yanlışlarını gör ve netlerini arttır.</h4>
            </div>
        </div>
    </div>
    <div class="gosterimContainer takipContainer">
        <div class="gosterimText gosterimTextRight">
            <div class="gosterimBaslikContainer" >
                <h3 data-aos="fade-right" data-aos-duration="1000">Takip</h3>
            </div>
            <div class="gosterimAltBaslikContainer" >
                <h4 data-aos="fade-right" data-aos-duration="3000">Denemelerini takip et, katettiğin yolu grafiksel olarak gör.</h4>
            </div>
        </div>
    </div>
</div>