<div class="aytEkleContainer">
    <div class="aytNetlerContainer" >
        <div class="dersNetContainer" data-aos="fade-down" data-aos-duration="1000">
            <div class="dersTitle">
                <h3>Matematik</h3>
            </div>
            <div class="dersNetCon">
                <div class="dersDogruCon">
                    <input type="text" name="" id="" placeholder="Doğru" class="dogruYanlisInput" #txtMatematikDogru>
                </div>
                <div class="dersYanlisCon">
                    <input type="text" name="" id="" placeholder="Yanlış" class="dogruYanlisInput" #txtMatematikYanlis>
                </div>
            </div>
        </div>
        <div class="dersNetContainer" data-aos="fade-down" data-aos-duration="1500">
            <div class="dersTitle">
                <h3>Fizik</h3>
            </div>
            <div class="dersNetCon">
                <div class="dersDogruCon">
                    <input type="text" name="" id="" placeholder="Doğru" class="dogruYanlisInput" #txtFizikDogru>
                </div>
                <div class="dersYanlisCon">
                    <input type="text" name="" id="" placeholder="Yanlış" class="dogruYanlisInput" #txtFizikYanlis>
                </div>
            </div>
        </div>
        <div class="dersNetContainer" data-aos="fade-down" data-aos-duration="2500">
            <div class="dersTitle">
                <h3>Kimya</h3>
            </div>
            <div class="dersNetCon">
                <div class="dersDogruCon">
                    <input type="text" name="" id="" placeholder="Doğru" class="dogruYanlisInput" #txtKimyaDogru>
                </div>
                <div class="dersYanlisCon">
                    <input type="text" name="" id="" placeholder="Yanlış" class="dogruYanlisInput" #txtKimyaYanlis>
                </div>
            </div>
        </div>
        <div class="dersNetContainer" data-aos="fade-down" data-aos-duration="2000">
            <div class="dersTitle">
                <h3>Biyoloji</h3>
            </div>
            <div class="dersNetCon">
                <div class="dersDogruCon">
                    <input type="text" name="" id="" placeholder="Doğru" class="dogruYanlisInput" #txtBiyolojiDogru>
                </div>
                <div class="dersYanlisCon">
                    <input type="text" name="" id="" placeholder="Yanlış" class="dogruYanlisInput" #txtBiyolojiYanlis>
                </div>
            </div>
        </div>
        <div class="dersNetContainer" data-aos="fade-down" data-aos-duration="3000">
            <div class="dersTitle">
                <h3>Edebiyat</h3>
            </div>
            <div class="dersNetCon">
                <div class="dersDogruCon">
                    <input type="text" name="" id="" placeholder="Doğru" class="dogruYanlisInput" #txtEdebiyatDogru>
                </div>
                <div class="dersYanlisCon">
                    <input type="text" name="" id="" placeholder="Yanlış" class="dogruYanlisInput" #txtEdebiyatYanlis>
                </div>
            </div>
        </div>
        <div class="dersNetContainer" data-aos="fade-down" data-aos-duration="3000">
            <div class="dersTitle">
                <h3>Tarih 1</h3>
            </div>
            <div class="dersNetCon">
                <div class="dersDogruCon">
                    <input type="text" name="" id="" placeholder="Doğru" class="dogruYanlisInput" #txtTarih1Dogru>
                </div>
                <div class="dersYanlisCon">
                    <input type="text" name="" id="" placeholder="Yanlış" class="dogruYanlisInput" #txtTarih1Yanlis>
                </div>
            </div>
        </div>
        <div class="dersNetContainer" data-aos="fade-up" data-aos-duration="3000">
            <div class="dersTitle">
                <h3>Cografya 1</h3>
            </div>
            <div class="dersNetCon">
                <div class="dersDogruCon">
                    <input type="text" name="" id="" placeholder="Doğru" class="dogruYanlisInput" #txtCografya1Dogru>
                </div>
                <div class="dersYanlisCon">
                    <input type="text" name="" id="" placeholder="Yanlış" class="dogruYanlisInput" #txtCografya1Yanlis>
                </div>
            </div>
        </div>
        <div class="dersNetContainer" data-aos="fade-up" data-aos-duration="3000">
            <div class="dersTitle">
                <h3>Tarih 2</h3>
            </div>
            <div class="dersNetCon">
                <div class="dersDogruCon">
                    <input type="text" name="" id="" placeholder="Doğru" class="dogruYanlisInput" #txtTarih2Dogru>
                </div>
                <div class="dersYanlisCon">
                    <input type="text" name="" id="" placeholder="Yanlış" class="dogruYanlisInput" #txtTarih2Yanlis>
                </div>
            </div>
        </div>
        <div class="dersNetContainer" data-aos="fade-up" data-aos-duration="2500">
            <div class="dersTitle">
                <h3>Cografya 2</h3>
            </div>
            <div class="dersNetCon">
                <div class="dersDogruCon">
                    <input type="text" name="" id="" placeholder="Doğru" class="dogruYanlisInput" #txtCografya2Dogru>
                </div>
                <div class="dersYanlisCon">
                    <input type="text" name="" id="" placeholder="Yanlış" class="dogruYanlisInput" #txtCografya2Yanlis>
                </div>
            </div>
        </div>
        <div class="dersNetContainer" data-aos="fade-up" data-aos-duration="2000">
            <div class="dersTitle">
                <h3>Felsefe</h3>
            </div>
            <div class="dersNetCon">
                <div class="dersDogruCon">
                    <input type="text" name="" id="" placeholder="Doğru" class="dogruYanlisInput" #txtFelsefeDogru>
                </div>
                <div class="dersYanlisCon">
                    <input type="text" name="" id="" placeholder="Yanlış" class="dogruYanlisInput" #txtFelsefeYanlis>
                </div>
            </div>
        </div>
        <div class="dersNetContainer" data-aos="fade-up" data-aos-duration="1500">
            <div class="dersTitle">
                <h3>Din</h3>
            </div>
            <div class="dersNetCon">
                <div class="dersDogruCon">
                    <input type="text" name="" id="" placeholder="Doğru" class="dogruYanlisInput" #txtDinDogru>
                </div>
                <div class="dersYanlisCon">
                    <input type="text" name="" id="" placeholder="Yanlış" class="dogruYanlisInput" #txtDinYanlis>
                </div>
            </div>
        </div>
        <div class="dersNetContainer" data-aos="fade-up" data-aos-duration="1000">
            <div class="dersTitle">
                <h3>Dil</h3>
            </div>
            <div class="dersNetCon">
                <div class="dersDogruCon">
                    <input type="text" name="" id="" placeholder="Doğru" class="dogruYanlisInput" #txtDilDogru>
                </div>
                <div class="dersYanlisCon">
                    <input type="text" name="" id="" placeholder="Yanlış" class="dogruYanlisInput" #txtDilYanlis>
                </div>
            </div>
        </div>
    </div>
    <div class="tytYanlisKonularContainer">
        <div class="tytYanlisBaslikContainer">
            <h4 data-aos="fade-down" data-aos-duration="1000">Yanlış Konu Ekle 
                <i class="fa-solid fa-angle-down" *ngIf=!yanlisKonuAcAyt (click)="yanlisKonuAc()" data-aos="flip-up" data-aos-duration="1000"></i> 
                <i class="fa-solid fa-angle-up" *ngIf=yanlisKonuAcAyt (click)="yanlisKonuAc()" data-aos="flip-up" data-aos-duration="1000"></i>
            </h4>
        </div>
        <div class="AytYanlisKonuEkleContainer" *ngIf="showAytYanlis" data-aos="fade-up" data-aos-duration="1000">
            <div class="derslerYanlisContainer">
                <div class="dersYanlisContainer">
                    <div class="dersYanlisTitleContainer">
                        <h3>Matematik
                            <i class="fa-solid fa-angle-down" *ngIf=!yanlisKonuAytMatematik (click)="yanlisKonuAytMatematikAc()" data-aos="flip-up" data-aos-duration="1000"></i> 
                            <i class="fa-solid fa-angle-up" *ngIf=yanlisKonuAytMatematik (click)="yanlisKonuAytMatematikAc()" data-aos="flip-up" data-aos-duration="1000"></i>
                        </h3>
                    </div>
                    <div class="dersYanlisCheckBoxes" *ngIf="yanlisKonularAytMatematikAc">
                        <div class="checkBoxContainer" *ngFor="let checkbox of aytMatematikKonular" data-aos="fade-right" data-aos-duration="1000" (click)="onChangeAytYanlisCheckBox(checkbox.id)">
                            <input type="checkbox" class="konuCheckBox" id="{{checkbox.id}}">
                            <label for="{{checkbox.id}}" class="konuCheckBoxTitle">{{checkbox.konuAdi}}</label>
                        </div>
                    </div>
                </div>
                <div class="dersYanlisContainer">
                    <div class="dersYanlisTitleContainer">
                        <h3>Fizik
                            <i class="fa-solid fa-angle-down" *ngIf=!yanlisKonuAytFizik (click)="yanlisKonuAytFizikAc()" data-aos="flip-up" data-aos-duration="1000"></i> 
                            <i class="fa-solid fa-angle-up" *ngIf=yanlisKonuAytFizik (click)="yanlisKonuAytFizikAc()" data-aos="flip-up" data-aos-duration="1000"></i>
                        </h3>
                    </div>
                    <div class="dersYanlisCheckBoxes" *ngIf="yanlisKonularAytFizikAc">
                        <div class="checkBoxContainer" *ngFor="let checkbox of aytFizikKonular" data-aos="fade-right" data-aos-duration="1000" (click)="onChangeAytYanlisCheckBox(checkbox.id)">
                            <input type="checkbox" class="konuCheckBox" id="{{checkbox.id}}">
                            <label for="{{checkbox.id}}" class="konuCheckBoxTitle">{{checkbox.konuAdi}}</label>
                        </div>
                    </div>
                </div>
                <div class="dersYanlisContainer">
                    <div class="dersYanlisTitleContainer">
                        <h3>Kimya
                            <i class="fa-solid fa-angle-down" *ngIf=!yanlisKonuAytKimya (click)="yanlisKonuAytKimyaAc()" data-aos="flip-up" data-aos-duration="1000"></i> 
                            <i class="fa-solid fa-angle-up" *ngIf=yanlisKonuAytKimya (click)="yanlisKonuAytKimyaAc()" data-aos="flip-up" data-aos-duration="1000"></i>
                        </h3>
                    </div>
                    <div class="dersYanlisCheckBoxes" *ngIf="yanlisKonularAytKimyaAc">
                        <div class="checkBoxContainer" *ngFor="let checkbox of aytKimyaKonular" data-aos="fade-right" data-aos-duration="1000" (click)="onChangeAytYanlisCheckBox(checkbox.id)">
                            <input type="checkbox" class="konuCheckBox" id="{{checkbox.id}}">
                            <label for="{{checkbox.id}}" class="konuCheckBoxTitle">{{checkbox.konuAdi}}</label>
                        </div>
                    </div>
                </div>
                <div class="dersYanlisContainer">
                    <div class="dersYanlisTitleContainer">
                        <h3>Biyoloji
                            <i class="fa-solid fa-angle-down" *ngIf=!yanlisKonuAytBiyoloji (click)="yanlisKonuAytBiyolojiAc()" data-aos="flip-up" data-aos-duration="1000"></i> 
                            <i class="fa-solid fa-angle-up" *ngIf=yanlisKonuAytBiyoloji (click)="yanlisKonuAytBiyolojiAc()" data-aos="flip-up" data-aos-duration="1000"></i>
                        </h3>
                    </div>
                    <div class="dersYanlisCheckBoxes" *ngIf="yanlisKonularAytBiyolojiAc">
                        <div class="checkBoxContainer" *ngFor="let checkbox of aytBiyolojiKonular" data-aos="fade-right" data-aos-duration="1000" (click)="onChangeAytYanlisCheckBox(checkbox.id)">
                            <input type="checkbox" class="konuCheckBox" id="{{checkbox.id}}">
                            <label for="{{checkbox.id}}" class="konuCheckBoxTitle">{{checkbox.konuAdi}}</label>
                        </div>
                    </div>
                </div>
                <div class="dersYanlisContainer">
                    <div class="dersYanlisTitleContainer">
                        <h3>Edebiyat
                            <i class="fa-solid fa-angle-down" *ngIf=!yanlisKonuAytEdebiyat (click)="yanlisKonuAytEdebiyatAc()" data-aos="flip-up" data-aos-duration="1000"></i> 
                            <i class="fa-solid fa-angle-up" *ngIf=yanlisKonuAytEdebiyat (click)="yanlisKonuAytEdebiyatAc()" data-aos="flip-up" data-aos-duration="1000"></i>
                        </h3>
                    </div>
                    <div class="dersYanlisCheckBoxes" *ngIf="yanlisKonularAytEdebiyatAc">
                        <div class="checkBoxContainer" *ngFor="let checkbox of aytEdebiyatKonular" data-aos="fade-right" data-aos-duration="1000" (click)="onChangeAytYanlisCheckBox(checkbox.id)">
                            <input type="checkbox" class="konuCheckBox" id="{{checkbox.id}}">
                            <label for="{{checkbox.id}}" class="konuCheckBoxTitle">{{checkbox.konuAdi}}</label>
                        </div>
                    </div>
                </div>
                <div class="dersYanlisContainer">
                    <div class="dersYanlisTitleContainer">
                        <h3>Tarih1
                            <i class="fa-solid fa-angle-down" *ngIf=!yanlisKonuAytTarih1 (click)="yanlisKonuAytTarih1Ac()" data-aos="flip-up" data-aos-duration="1000"></i> 
                            <i class="fa-solid fa-angle-up" *ngIf=yanlisKonuAytTarih1 (click)="yanlisKonuAytTarih1Ac()" data-aos="flip-up" data-aos-duration="1000"></i>
                        </h3>
                    </div>
                    <div class="dersYanlisCheckBoxes" *ngIf="yanlisKonularAytTarih1Ac">
                        <div class="checkBoxContainer" *ngFor="let checkbox of aytTarih1Konular" data-aos="fade-right" data-aos-duration="1000" (click)="onChangeAytYanlisCheckBox(checkbox.id)">
                            <input type="checkbox" class="konuCheckBox" id="{{checkbox.id}}">
                            <label for="{{checkbox.id}}" class="konuCheckBoxTitle">{{checkbox.konuAdi}}</label>
                        </div>
                    </div>
                </div>
                <div class="dersYanlisContainer">
                    <div class="dersYanlisTitleContainer">
                        <h3>Coğrafya1
                            <i class="fa-solid fa-angle-down" *ngIf=!yanlisKonuAytCografya1 (click)="yanlisKonuAytCografya1Ac()" data-aos="flip-up" data-aos-duration="1000"></i> 
                            <i class="fa-solid fa-angle-up" *ngIf=yanlisKonuAytCografya1 (click)="yanlisKonuAytCografya1Ac()" data-aos="flip-up" data-aos-duration="1000"></i>
                        </h3>
                    </div>
                    <div class="dersYanlisCheckBoxes" *ngIf="yanlisKonularAytCografya1Ac">
                        <div class="checkBoxContainer" *ngFor="let checkbox of aytCografya1Konular" data-aos="fade-right" data-aos-duration="1000" (click)="onChangeAytYanlisCheckBox(checkbox.id)">
                            <input type="checkbox" class="konuCheckBox" id="{{checkbox.id}}">
                            <label for="{{checkbox.id}}" class="konuCheckBoxTitle">{{checkbox.konuAdi}}</label>
                        </div>
                    </div>
                </div>
                <div class="dersYanlisContainer">
                    <div class="dersYanlisTitleContainer">
                        <h3>Tarih2
                            <i class="fa-solid fa-angle-down" *ngIf=!yanlisKonuAytTarih2 (click)="yanlisKonuAytTarih2Ac()" data-aos="flip-up" data-aos-duration="1000"></i> 
                            <i class="fa-solid fa-angle-up" *ngIf=yanlisKonuAytTarih2 (click)="yanlisKonuAytTarih2Ac()" data-aos="flip-up" data-aos-duration="1000"></i>
                        </h3>
                    </div>
                    <div class="dersYanlisCheckBoxes" *ngIf="yanlisKonularAytTarih2Ac">
                        <div class="checkBoxContainer" *ngFor="let checkbox of aytTarih2Konular" data-aos="fade-right" data-aos-duration="1000" (click)="onChangeAytYanlisCheckBox(checkbox.id)">
                            <input type="checkbox" class="konuCheckBox" id="{{checkbox.id}}">
                            <label for="{{checkbox.id}}" class="konuCheckBoxTitle">{{checkbox.konuAdi}}</label>
                        </div>
                    </div>
                </div>
                <div class="dersYanlisContainer">
                    <div class="dersYanlisTitleContainer">
                        <h3>Coğrafya2
                            <i class="fa-solid fa-angle-down" *ngIf=!yanlisKonuAytCografya2 (click)="yanlisKonuAytCografya2Ac()" data-aos="flip-up" data-aos-duration="1000"></i> 
                            <i class="fa-solid fa-angle-up" *ngIf=yanlisKonuAytCografya2 (click)="yanlisKonuAytCografya2Ac()" data-aos="flip-up" data-aos-duration="1000"></i>
                        </h3>
                    </div>
                    <div class="dersYanlisCheckBoxes" *ngIf="yanlisKonularAytCografya2Ac">
                        <div class="checkBoxContainer" *ngFor="let checkbox of aytCografya2Konular" data-aos="fade-right" data-aos-duration="1000" (click)="onChangeAytYanlisCheckBox(checkbox.id)">
                            <input type="checkbox" class="konuCheckBox" id="{{checkbox.id}}">
                            <label for="{{checkbox.id}}" class="konuCheckBoxTitle">{{checkbox.konuAdi}}</label>
                        </div>
                    </div>
                </div>
                <div class="dersYanlisContainer">
                    <div class="dersYanlisTitleContainer">
                        <h3>Felsefe
                            <i class="fa-solid fa-angle-down" *ngIf=!yanlisKonuAytFelsefe (click)="yanlisKonuAytFelsefeAc()" data-aos="flip-up" data-aos-duration="1000"></i> 
                            <i class="fa-solid fa-angle-up" *ngIf=yanlisKonuAytFelsefe (click)="yanlisKonuAytFelsefeAc()" data-aos="flip-up" data-aos-duration="1000"></i>
                        </h3>
                    </div>
                    <div class="dersYanlisCheckBoxes" *ngIf="yanlisKonularAytFelsefeAc">
                        <div class="checkBoxContainer" *ngFor="let checkbox of aytFelsefeKonular" data-aos="fade-right" data-aos-duration="1000" (click)="onChangeAytYanlisCheckBox(checkbox.id)">
                            <input type="checkbox" class="konuCheckBox" id="{{checkbox.id}}">
                            <label for="{{checkbox.id}}" class="konuCheckBoxTitle">{{checkbox.konuAdi}}</label>
                        </div>
                    </div>
                </div>
                <div class="dersYanlisContainer">
                    <div class="dersYanlisTitleContainer">
                        <h3>Din
                            <i class="fa-solid fa-angle-down" *ngIf=!yanlisKonuAytDin (click)="yanlisKonuAytDinAc()" data-aos="flip-up" data-aos-duration="1000"></i> 
                            <i class="fa-solid fa-angle-up" *ngIf=yanlisKonuAytDin (click)="yanlisKonuAytDinAc()" data-aos="flip-up" data-aos-duration="1000"></i>
                        </h3>
                    </div>
                    <div class="dersYanlisCheckBoxes" *ngIf="yanlisKonularAytDinAc">
                        <div class="checkBoxContainer" *ngFor="let checkbox of aytDinKonular" data-aos="fade-right" data-aos-duration="1000" (click)="onChangeAytYanlisCheckBox(checkbox.id)">
                            <input type="checkbox" class="konuCheckBox" id="{{checkbox.id}}">
                            <label for="{{checkbox.id}}" class="konuCheckBoxTitle">{{checkbox.konuAdi}}</label>
                        </div>
                    </div>
                </div>
                <div class="dersYanlisContainer">
                    <div class="dersYanlisTitleContainer">
                        <h3>Dil
                            <i class="fa-solid fa-angle-down" *ngIf=!yanlisKonuAytDil (click)="yanlisKonuAytDilAc()" data-aos="flip-up" data-aos-duration="1000"></i> 
                            <i class="fa-solid fa-angle-up" *ngIf=yanlisKonuAytDil (click)="yanlisKonuAytDilAc()" data-aos="flip-up" data-aos-duration="1000"></i>
                        </h3>
                    </div>
                    <div class="dersYanlisCheckBoxes" *ngIf="yanlisKonularAytDilAc">
                        <div class="checkBoxContainer" *ngFor="let checkbox of aytDilKonular" data-aos="fade-right" data-aos-duration="1000" (click)="onChangeAytBosCheckBox(checkbox.id)">
                            <input type="checkbox" class="konuCheckBox" id="{{checkbox.id}}">
                            <label for="{{checkbox.id}}" class="konuCheckBoxTitle">{{checkbox.konuAdi}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tytBosKonularContainer">
        <div class="tytYanlisBaslikContainer">
            <h4 data-aos="fade-down" data-aos-duration="1000">Boş Konu Ekle 
                <i class="fa-solid fa-angle-down" *ngIf=!bosKonuAcAyt (click)="bosKonuAc()" data-aos="flip-up" data-aos-duration="1000"></i> 
                <i class="fa-solid fa-angle-up" *ngIf=bosKonuAcAyt (click)="bosKonuAc()" data-aos="flip-up" data-aos-duration="1000"></i>
            </h4>
        </div>
        <div class="AytYanlisKonuEkleContainer" *ngIf="showAytBos" data-aos="fade-up" data-aos-duration="1000">
            <div class="derslerYanlisContainer">
                <div class="dersYanlisContainer">
                    <div class="dersYanlisTitleContainer">
                        <h3>Matematik
                            <i class="fa-solid fa-angle-down" *ngIf=!bosKonuAytMatematik (click)="bosKonuAytMatematikAc()" data-aos="flip-up" data-aos-duration="1000"></i> 
                            <i class="fa-solid fa-angle-up" *ngIf=bosKonuAytMatematik (click)="bosKonuAytMatematikAc()" data-aos="flip-up" data-aos-duration="1000"></i>
                        </h3>
                    </div>
                    <div class="dersYanlisCheckBoxes" *ngIf="bosKonularAytMatematikAc">
                        <div class="checkBoxContainer" *ngFor="let checkbox of aytMatematikKonular" data-aos="fade-right" data-aos-duration="1000" (click)="onChangeAytBosCheckBox(checkbox.id)">
                            <input type="checkbox" class="konuCheckBox" id="{{checkbox.id}}">
                            <label for="{{checkbox.id}}" class="konuCheckBoxTitle">{{checkbox.konuAdi}}</label>
                        </div>
                    </div>
                </div>
                <div class="dersYanlisContainer">
                    <div class="dersYanlisTitleContainer">
                        <h3>Fizik
                            <i class="fa-solid fa-angle-down" *ngIf=!bosKonuAytFizik (click)="bosKonuAytFizikAc()" data-aos="flip-up" data-aos-duration="1000"></i> 
                            <i class="fa-solid fa-angle-up" *ngIf=bosKonuAytFizik (click)="bosKonuAytFizikAc()" data-aos="flip-up" data-aos-duration="1000"></i>
                        </h3>
                    </div>
                    <div class="dersYanlisCheckBoxes" *ngIf="bosKonularAytFizikAc">
                        <div class="checkBoxContainer" *ngFor="let checkbox of aytFizikKonular" data-aos="fade-right" data-aos-duration="1000" (click)="onChangeAytBosCheckBox(checkbox.id)">
                            <input type="checkbox" class="konuCheckBox" id="{{checkbox.id}}">
                            <label for="{{checkbox.id}}" class="konuCheckBoxTitle">{{checkbox.konuAdi}}</label>
                        </div>
                    </div>
                </div>
                <div class="dersYanlisContainer">
                    <div class="dersYanlisTitleContainer">
                        <h3>Kimya
                            <i class="fa-solid fa-angle-down" *ngIf=!bosKonuAytKimya (click)="bosKonuAytKimyaAc()" data-aos="flip-up" data-aos-duration="1000"></i> 
                            <i class="fa-solid fa-angle-up" *ngIf=bosKonuAytKimya (click)="bosKonuAytKimyaAc()" data-aos="flip-up" data-aos-duration="1000"></i>
                        </h3>
                    </div>
                    <div class="dersYanlisCheckBoxes" *ngIf="bosKonularAytKimyaAc">
                        <div class="checkBoxContainer" *ngFor="let checkbox of aytKimyaKonular" data-aos="fade-right" data-aos-duration="1000" (click)="onChangeAytBosCheckBox(checkbox.id)">
                            <input type="checkbox" class="konuCheckBox" id="{{checkbox.id}}">
                            <label for="{{checkbox.id}}" class="konuCheckBoxTitle">{{checkbox.konuAdi}}</label>
                        </div>
                    </div>
                </div>
                <div class="dersYanlisContainer">
                    <div class="dersYanlisTitleContainer">
                        <h3>Biyoloji
                            <i class="fa-solid fa-angle-down" *ngIf=!bosKonuAytBiyoloji (click)="bosKonuAytBiyolojiAc()" data-aos="flip-up" data-aos-duration="1000"></i> 
                            <i class="fa-solid fa-angle-up" *ngIf=bosKonuAytBiyoloji (click)="bosKonuAytBiyolojiAc()" data-aos="flip-up" data-aos-duration="1000"></i>
                        </h3>
                    </div>
                    <div class="dersYanlisCheckBoxes" *ngIf="bosKonularAytBiyolojiAc">
                        <div class="checkBoxContainer" *ngFor="let checkbox of aytBiyolojiKonular" data-aos="fade-right" data-aos-duration="1000" (click)="onChangeAytBosCheckBox(checkbox.id)">
                            <input type="checkbox" class="konuCheckBox" id="{{checkbox.id}}">
                            <label for="{{checkbox.id}}" class="konuCheckBoxTitle">{{checkbox.konuAdi}}</label>
                        </div>
                    </div>
                </div>
                <div class="dersYanlisContainer">
                    <div class="dersYanlisTitleContainer">
                        <h3>Edebiyat
                            <i class="fa-solid fa-angle-down" *ngIf=!bosKonuAytEdebiyat (click)="bosKonuAytEdebiyatAc()" data-aos="flip-up" data-aos-duration="1000"></i> 
                            <i class="fa-solid fa-angle-up" *ngIf=bosKonuAytEdebiyat (click)="bosKonuAytEdebiyatAc()" data-aos="flip-up" data-aos-duration="1000"></i>
                        </h3>
                    </div>
                    <div class="dersYanlisCheckBoxes" *ngIf="bosKonularAytEdebiyatAc">
                        <div class="checkBoxContainer" *ngFor="let checkbox of aytEdebiyatKonular" data-aos="fade-right" data-aos-duration="1000" (click)="onChangeAytBosCheckBox(checkbox.id)">
                            <input type="checkbox" class="konuCheckBox" id="{{checkbox.id}}">
                            <label for="{{checkbox.id}}" class="konuCheckBoxTitle">{{checkbox.konuAdi}}</label>
                        </div>
                    </div>
                </div>
                <div class="dersYanlisContainer">
                    <div class="dersYanlisTitleContainer">
                        <h3>Tarih1
                            <i class="fa-solid fa-angle-down" *ngIf=!bosKonuAytTarih1 (click)="bosKonuAytTarih1Ac()" data-aos="flip-up" data-aos-duration="1000"></i> 
                            <i class="fa-solid fa-angle-up" *ngIf=bosKonuAytTarih1 (click)="bosKonuAytTarih1Ac()" data-aos="flip-up" data-aos-duration="1000"></i>
                        </h3>
                    </div>
                    <div class="dersYanlisCheckBoxes" *ngIf="bosKonularAytTarih1Ac">
                        <div class="checkBoxContainer" *ngFor="let checkbox of aytTarih1Konular" data-aos="fade-right" data-aos-duration="1000" (click)="onChangeAytBosCheckBox(checkbox.id)">
                            <input type="checkbox" class="konuCheckBox" id="{{checkbox.id}}">
                            <label for="{{checkbox.id}}" class="konuCheckBoxTitle">{{checkbox.konuAdi}}</label>
                        </div>
                    </div>
                </div>
                <div class="dersYanlisContainer">
                    <div class="dersYanlisTitleContainer">
                        <h3>Cografya1
                            <i class="fa-solid fa-angle-down" *ngIf=!bosKonuAytCografya1 (click)="bosKonuAytCografya1Ac()" data-aos="flip-up" data-aos-duration="1000"></i> 
                            <i class="fa-solid fa-angle-up" *ngIf=bosKonuAytCografya1 (click)="bosKonuAytCografya1Ac()" data-aos="flip-up" data-aos-duration="1000"></i>
                        </h3>
                    </div>
                    <div class="dersYanlisCheckBoxes" *ngIf="bosKonularAytCografya1Ac">
                        <div class="checkBoxContainer" *ngFor="let checkbox of aytCografya1Konular" data-aos="fade-right" data-aos-duration="1000" (click)="onChangeAytBosCheckBox(checkbox.id)">
                            <input type="checkbox" class="konuCheckBox" id="{{checkbox.id}}">
                            <label for="{{checkbox.id}}" class="konuCheckBoxTitle">{{checkbox.konuAdi}}</label>
                        </div>
                    </div>
                </div>
                <div class="dersYanlisContainer">
                    <div class="dersYanlisTitleContainer">
                        <h3>Tarih2
                            <i class="fa-solid fa-angle-down" *ngIf=!bosKonuAytTarih2 (click)="bosKonuAytTarih2Ac()" data-aos="flip-up" data-aos-duration="1000"></i> 
                            <i class="fa-solid fa-angle-up" *ngIf=bosKonuAytTarih2 (click)="bosKonuAytTarih2Ac()" data-aos="flip-up" data-aos-duration="1000"></i>
                        </h3>
                    </div>
                    <div class="dersYanlisCheckBoxes" *ngIf="bosKonularAytTarih2Ac">
                        <div class="checkBoxContainer" *ngFor="let checkbox of aytTarih2Konular" data-aos="fade-right" data-aos-duration="1000" (click)="onChangeAytBosCheckBox(checkbox.id)">
                            <input type="checkbox" class="konuCheckBox" id="{{checkbox.id}}">
                            <label for="{{checkbox.id}}" class="konuCheckBoxTitle">{{checkbox.konuAdi}}</label>
                        </div>
                    </div>
                </div>
                <div class="dersYanlisContainer">
                    <div class="dersYanlisTitleContainer">
                        <h3>Cografya2
                            <i class="fa-solid fa-angle-down" *ngIf=!bosKonuAytCografya2 (click)="bosKonuAytCografya2Ac()" data-aos="flip-up" data-aos-duration="1000"></i> 
                            <i class="fa-solid fa-angle-up" *ngIf=bosKonuAytCografya2 (click)="bosKonuAytCografya2Ac()" data-aos="flip-up" data-aos-duration="1000"></i>
                        </h3>
                    </div>
                    <div class="dersYanlisCheckBoxes" *ngIf="bosKonularAytCografya2Ac">
                        <div class="checkBoxContainer" *ngFor="let checkbox of aytCografya2Konular" data-aos="fade-right" data-aos-duration="1000" (click)="onChangeAytBosCheckBox(checkbox.id)">
                            <input type="checkbox" class="konuCheckBox" id="{{checkbox.id}}">
                            <label for="{{checkbox.id}}" class="konuCheckBoxTitle">{{checkbox.konuAdi}}</label>
                        </div>
                    </div>
                </div>
                <div class="dersYanlisContainer">
                    <div class="dersYanlisTitleContainer">
                        <h3>Felsefe
                            <i class="fa-solid fa-angle-down" *ngIf=!yanlisKonuAytFelsefe (click)="yanlisKonuAytFelsefeAc()" data-aos="flip-up" data-aos-duration="1000"></i> 
                            <i class="fa-solid fa-angle-up" *ngIf=yanlisKonuAytFelsefe (click)="yanlisKonuAytFelsefeAc()" data-aos="flip-up" data-aos-duration="1000"></i>
                        </h3>
                    </div>
                    <div class="dersYanlisCheckBoxes" *ngIf="bosKonularAytFelsefeAc">
                        <div class="checkBoxContainer" *ngFor="let checkbox of aytFelsefeKonular" data-aos="fade-right" data-aos-duration="1000" (click)="onChangeAytBosCheckBox(checkbox.id)">
                            <input type="checkbox" class="konuCheckBox" id="{{checkbox.id}}">
                            <label for="{{checkbox.id}}" class="konuCheckBoxTitle">{{checkbox.konuAdi}}</label>
                        </div>
                    </div>
                </div>
                <div class="dersYanlisContainer">
                    <div class="dersYanlisTitleContainer">
                        <h3>Din
                            <i class="fa-solid fa-angle-down" *ngIf=!bosKonuAytDin (click)="bosKonuAytDinAc()" data-aos="flip-up" data-aos-duration="1000"></i> 
                            <i class="fa-solid fa-angle-up" *ngIf=bosKonuAytDin (click)="bosKonuAytDinAc()" data-aos="flip-up" data-aos-duration="1000"></i>
                        </h3>
                    </div>
                    <div class="dersYanlisCheckBoxes" *ngIf="bosKonularAytDinAc">
                        <div class="checkBoxContainer" *ngFor="let checkbox of aytDinKonular" data-aos="fade-right" data-aos-duration="1000" (click)="onChangeAytBosCheckBox(checkbox.id)">
                            <input type="checkbox" class="konuCheckBox" id="{{checkbox.id}}">
                            <label for="{{checkbox.id}}" class="konuCheckBoxTitle">{{checkbox.konuAdi}}</label>
                        </div>
                    </div>
                </div>
                <div class="dersYanlisContainer">
                    <div class="dersYanlisTitleContainer">
                        <h3>Dil
                            <i class="fa-solid fa-angle-down" *ngIf=!bosKonuAytDil (click)="bosKonuAytDilAc()" data-aos="flip-up" data-aos-duration="1000"></i> 
                            <i class="fa-solid fa-angle-up" *ngIf=bosKonuAytDil (click)="bosKonuAytDilAc()" data-aos="flip-up" data-aos-duration="1000"></i>
                        </h3>
                    </div>
                    <div class="dersYanlisCheckBoxes" *ngIf="bosKonularAytDilAc">
                        <div class="checkBoxContainer" *ngFor="let checkbox of aytDilKonular" data-aos="fade-right" data-aos-duration="1000" (click)="onChangeAytBosCheckBox(checkbox.id)">
                            <input type="checkbox" class="konuCheckBox" id="{{checkbox.id}}">
                            <label for="{{checkbox.id}}" class="konuCheckBoxTitle">{{checkbox.konuAdi}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ekleButtonContainer">
        <button class="ekleButton"  data-aos="fade-left" data-aos-duration="1000" (click)=createAyt(txtMatematikDogru.value,txtMatematikYanlis.value,txtFizikDogru.value,txtFizikYanlis.value,txtBiyolojiDogru.value,txtBiyolojiYanlis.value,txtKimyaDogru.value,txtKimyaYanlis.value,txtEdebiyatDogru.value,txtEdebiyatYanlis.value,txtCografya1Dogru.value,txtCografya1Yanlis.value,txtTarih1Dogru.value,txtTarih1Yanlis.value,txtCografya2Dogru.value,txtCografya2Yanlis.value,txtTarih2Dogru.value,txtTarih2Yanlis.value,txtDinDogru.value,txtDinYanlis.value,txtFelsefeDogru.value,txtFelsefeYanlis.value,txtDilDogru.value,txtDilYanlis.value)>Deneme Ekle</button>
    </div>
</div>