*{
    line-height: 2;
}
.passwordResetContainer{
    width: 100%;
    display: grid;
    background-color: var(--secondary-color);
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: 7rem;
    height: fit-content;
}
.denemeTakipInfoContainer{
    display: grid;
    grid-column-start: 2;
    grid-template-rows: 2fr 1fr;
    height: fit-content;

}
.infoTitle{
    font-family: "Catamaran", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    color: var(--text-color);
    align-self: flex-end;
}
.info{
    font-family: "Catamaran", sans-serif;
    font-weight: 200;
    font-size: 2.2rem;
    color: var(--text-color);
    opacity: 0.8;
    align-self: center;
}
.emailInputContainer{
    display: grid;
    justify-content: center;
    grid-column-start: 2;
    grid-template-columns: 1fr;
}
.loginInput{
    width: 100%;
    height: 100%;
    border-radius: .6rem;
    font-family: "Catamaran", sans-serif;
    border: .2rem solid var(--third-color);
    height: 4rem;
    background-color: var(--background-color);
    padding: 1rem;
    font-size: 2rem;
    color: var(--text-color);
}
.loginInput::placeholder{
    display: flex;
    font-size: 2rem;
    font-family: "Catamaran", sans-serif;
    font-weight: 200;
    color: var(--text-color);
}
.loginButtonContainer{
    display: grid;
    grid-column-start: 2;
    margin-top: 1.2rem;
    grid-template-columns: 1fr 2fr 1fr;
    height: fit-content;
    max-height: fit-content;
    padding: 1rem 0rem;
}
.loginButton{
    background-color: var(--line-color);
    color: var(--text-color);
    border: .1rem solid var(--third-color);
    font-size: 2.2rem;
    font-family: "Catamaran", sans-serif;
    border-radius: 0.6rem;
    height: 5rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    grid-column-start: 3;
}
.loginButton:hover{
    background-color: var(--text-color);
    color: var(--background-color);
}
@media screen and (max-width: 970px) {
    .passwordResetContainer{
        grid-template-columns: 1fr;
        padding: 0rem 5rem;
    }
    
}