<div class="passwordResetContainer">
    <div class="denemeTakipInfoContainer">
        <div class="infoTitle">Deneme Takip hesabını bul</div>
        <h4 class="info">Şifreni değiştirmek için hesabınla ilişkilendirilmiş e-posta adresini veya kullanıcı adınızı giriniz.</h4>
    </div>
    <div class="emailInputContainer">
        <input type="email" placeholder="E-mail adresinizi giriniz" class="loginInput" #txtEmailOrUserName>
    </div>
    <div class="loginButtonContainer" data-aos="flip-up" data-aos-duration="1000">
        <button class="loginButton" (click)="passwordReset(txtEmailOrUserName.value)">Devam et</button>
    </div>
</div>