<div class="konuList">
    <div class="toggleAytTyt2">
        <div class="toggleTyt2 toggleDeneme2">
            <h5 data-aos="fade-right" data-aos-duration="1000">TYT</h5>
        </div>
            <div class="container2" data-aos="flip-up" data-aos-duration="1000">
                <input type="checkbox" id="cup2" (click)="isAytOrTyt2()" class="toggleCheckbox2">
                <label for="cup2"></label>
            </div>
        <div class="toggleAyt2 toggleDeneme2">
            <h5 data-aos="fade-left" data-aos-duration="1000">AYT</h5>
        </div>
    </div>
    <div class="searchContainer" data-aos="fade-up" data-aos-duration="1000">
        <input type="search" class="search" #txtKonuAdi (input)="changeSearchInput(txtKonuAdi.value)" placeholder="Arama Yap">
    </div>
    <div class="filtreleContainer" data-aos="fade-up" data-aos-duration="1000">
        <div class="filtreleTextContainer">
            <h4 class="filtreleText" (click)="showFilterFunc()">Filtrele <i class="fa-solid fa-sort-down" *ngIf="!showFilter"></i><i class="fa-solid fa-sort-up" *ngIf="showFilter"></i></h4>
        </div>
        <div class="filtreleDetailsContainer" *ngIf="showFilter" data-aos="zoom-in" data-aos-duration="1000">
            <div class="checkBoxContainer" *ngFor="let checkbox of dersler" (click)="changeSelectedDersIds(checkbox.id)">
                <input type="checkbox" class="konuCheckBox" id="{{checkbox.id}}">
                <label for="{{checkbox.id}}" class="konuCheckBoxTitle">{{checkbox.dersAdi}}</label>
            </div>
        </div>
    </div>
<div class="konuAdminContainer" *ngIf="isAytOrTytToggle2==false">
    <div class="konuContainer" *ngFor="let tytKonu of tytKonular | paginate:{
        itemsPerPage:tableSize2,
        currentPage:page2,
        totalItems:count2
    };let i=index" data-aos="fade-up" data-aos-duration="1000">
        <div class="konuAdiContainer">
            <h4>{{tytKonu.konuAdi}}</h4>
        </div>
        <div class="dersAdiContainer">
            <h4>{{tytKonu.dersAdi}}</h4>
        </div>
        <div class="konuIslemler">
            <div appDelete2 [id]="tytKonu.id" (callback)="getTytKonular()" konuAdi={{tytKonu.konuAdi}} controller="konular" class="deleteButton" data-aos="fade-left" data-aos-duration="1200"></div>
            <div class="detayButtonContainer">
                <a class="detayButton" [routerLink]="['/admin/konular',tytKonu.id]">Detayları Gör</a>
            </div>
        </div>
    </div>
    <div class="notFoundContainer" *ngIf="tytKonular.length==0">
        <h4 class="notFoundText">Aradığınız filtrelemeye göre bir sonuç bulunamamıştır.</h4>
    </div>
    <div class="paginationContainer" *ngIf="tytKonular.length>0">
        <div class="paginationDiv">
            <pagination-controls 
                previousLabel="Önceki"
                nextLabel="Sonraki"
                (pageChange)="onTableDataChange($event)" class="paginationControl"> 
            </pagination-controls>
        </div>
        <div class="paginationSelect">
            <select (change)="onTableSizeChange($event)">
                <option *ngFor="let size of tableSizes2">
                    {{size}}
                </option>
            </select>
        </div>
    </div>    
</div>
<div class="konuAdminContainer" *ngIf="isAytOrTytToggle2==true">
    <div class="konuContainer" *ngFor="let aytKonu of aytKonular | paginate:{
        itemsPerPage:tableSize3,
        currentPage:page3,
        totalItems:count3
    };let i=index" data-aos="fade-up" data-aos-duration="1000">
        <div class="konuAdiContainer">
            <h4>{{aytKonu.konuAdi}}</h4>
        </div>
        <div class="dersAdiContainer">
            <h4>{{aytKonu.dersAdi}}</h4>
        </div>
        <div class="konuIslemler">
            <div appDelete2 [id]="aytKonu.id" (callback)="getAytKonular()" controller="konular" class="deleteButton" data-aos="fade-left" data-aos-duration="1200"></div>
            <div class="detayButtonContainer">
                <a class="detayButton" [routerLink]="['/konular',aytKonu.id]">Detayları Gör</a>
            </div>
        </div>
    </div>
    <div class="notFoundContainer" *ngIf="aytKonular.length==0">
        <h4 class="notFoundText">Aradığınız filtrelemeye göre bir sonuç bulunamamıştır.</h4>
    </div>
    <div class="paginationContainer" *ngIf="aytKonular.length>0">
        <div class="paginationDiv">
            <pagination-controls 
                previousLabel="Önceki"
                nextLabel="Sonraki"
                (pageChange)="onTableDataChange2($event)" class="paginationControl"> 
            </pagination-controls>
        </div>
        <div class="paginationSelect">
            <select (change)="onTableSizeChange2($event)">
                <option *ngFor="let size of tableSizes3">
                    {{size}}
                </option>
            </select>
        </div>
    </div>    
</div>
</div>