.kullaniciMainDiv{
    margin-top: 7rem;
    background-color: var(--secondary-color);
}

.searchContainer{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
}
.search{
    height: 3rem;
    width: 100%;
    grid-column-start: 2;
    color: var(--text-color);
    border-radius: 2rem;
    margin: 1rem 0rem;
    border:.1rem solid var(--third-color);
    background-color: var(--background-color);
    text-align: center;
    font-size: 2.2rem;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 300;
}
.search::placeholder{
    text-align: center;
    font-size: 2.2rem;
    color: var(--text-color);
    font-weight: 100;
    font-family: "Catamaran", sans-serif;
}
.konuAdminContainer{
	height: 50rem;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	height: fit-content;
}
.konuContainer{
    display: grid;
	height: fit-content;
    max-height: fit-content;
	grid-template-columns: 2fr 2fr 1fr;
	margin: 2rem 0rem;
}
.konuAdiContainer{
	display: flex;
	justify-content: center;
	align-items: center;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
	
}
.dersAdiContainer{
	display: flex;
	justify-content: center;
	align-items: center;
    word-wrap: break-word;
    word-break: break-all;

}
.konuAdiContainer h4{
	font-size: 2rem;
	color: var(--text-color);
	font-family: "Source Sans 3", sans-serif;
	font-weight: 400;
}
.dersAdiContainer h4{
	font-size: 2rem;
	color: var(--text-color);
	font-family: "Source Sans 3", sans-serif;
	font-weight: 300;
}
.konuIslemler{
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-items: center;
}
.detayButtonContainer{
    display: grid;
    align-items: center;
}

.detayButton{
    width: 15rem;
    height: 3rem;
    font-size: 1.8rem;
    border-radius: 1rem;
    border: .2rem solid var(--third-color);
    color: var(--text-color);
    font-family: "Source Sans 3", sans-serif;
    background-color: var(--secondary-color);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}
.detayButton:hover{
    background-color: var(--text-color);
    border: .1rem solid var(--third-color);
    color: var(--background-color);
}
.paginationContainer{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 1rem;
}
.paginationDiv{
    display: flex;
    justify-content: center;
}
.paginationSelect{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    max-height: fit-content;
    height: fit-content;
}
.paginationSelect select{
    background-color: var(--background-color);
    border: .1rem solid var(--third-color);
    color: var(--text-color);
    grid-column-start: 2;
    font-size: 2rem;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 300;
    text-align: center;
    border-radius: 0.6rem;
}
.paginationSelect select option{
    font-family: "Source Sans 3", sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 1.6rem;
    background-color: var(--secondary-color);
    border: .1rem solid var(--third-color);
}

.paginationControl{
    font-size: 3rem;
    color: var(--text-color);
}
.paginationControl /deep/ ul li span{
    font-size: 2.2rem;
    color: var(--text-color);

}
.paginationControl /deep/ ul li a{
    font-size: 2.2rem;
    color: var(--text-color);

}
.paginationControl /deep/ ul li{
    font-size: 2.2rem;
    color: var(--text-color);
}
.paginationControl  /deep/ li{
    border-radius: 2rem;
    width: fit-content;
    cursor: pointer;

}
.paginationControl  /deep/ li a:hover{
    border-radius: 2rem;
    width: fit-content;
    cursor: pointer;
    background-color: var(--background-color);

}
.paginationControl /deep/ ul li.current{
    background-color: var(--line-color);
    border: .1rem solid var(--third-color);
    border-radius: 2rem;
    cursor: pointer;
}