<div class="footerContainer" data-aos="fade-up" data-aos-duration="1000">
    <div class="brandContainer">
        <a routerLink="" class="brandImageContainer">
            <img src="../../../../../assets/ol.png" class="brandImage">
        </a>
    </div>
    <div class="navigationContainer">
        <h5><a routerLink="denemeler">Denemelerim</a></h5>
        <h5><a routerLink="analizler">Analizler</a></h5>
        <h5><a routerLink="hakkimizda">Hakkımızda</a></h5>
        <h5><a routerLink="sikca-sorulan-sorular">Sıkça Sorulan Sorular</a></h5>

    </div>
</div>