.denemeContainer{
    display: grid;
    margin-top: 7rem;
    width: 100%;
    grid-template-columns: 1fr;
    background-color: var(--secondary-color);
}
.tytContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: fit-content;
    max-height: fit-content;
    border-radius: 0.6rem;
    margin: 2rem 3rem;
    padding: .5rem;
    background-color:var(--background-color) ;
    border: .1rem solid var(--third-color);
    border-radius: .6rem;
}
.editContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
}
.editTytButton{
    justify-self: center;
    width: 100%;
    height: 4rem;
    font-size: 2.2rem;
    border-radius: 1rem;
    border: none;
    color: var(--text-color);
    font-family: "Source Sans 3", sans-serif;
    background-color: var(--line-color);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.editTytButton:hover{
    background-color: var(--text-color);
    color: var(--background-color);
}
.ders{
    display: grid;
    width: 100%;
    max-height: fit-content;
    height: fit-content;
    max-height: fit-content;
}
.dersAltContainer{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    height: fit-content;
    max-height: fit-content;
    
}
.dersAdiContainer{
    display: flex;
    justify-content: center;
    height: fit-content;
    max-height: fit-content;
    
}
.dersAdi{
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-color);
    font-family: "Catamaran", sans-serif;
    text-align: center;
}
.dersBilgilerContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: fit-content;
    justify-content: center;
    margin: 1rem;
    
}
.bilgiText{
    justify-content: center;
    font-size: 2rem;
    color: var(--text-color);
    font-family: "Catamaran", sans-serif;
    text-align: center;
    font-weight: 400;
}
.dersBilgi{
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    height: fit-content;
    height: 10rem;
    width: 10rem;
}
.bilgiSayi{
    font-size: 2.6rem;
    font-weight: 400;
    color: var(--text-color);
    font-family: "Source Sans 3", sans-serif;
    justify-self: center;

}

.tytYanlisKonularContainer{
    display: grid;
    grid-template-columns: 1fr;
    margin: 2rem 3rem;
    border-radius: .6rem;
    background-color: var(--background-color);
    border: .1rem solid var(--third-color);
    border-radius: .6rem;
}
.tytYanlisKonularDersContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);

}
.tytYanlisKonularTitleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem;
}
.tytYanlisKonularTitleContainer h4{
    color: var(--text-color);
    font-family: "Catamaran", sans-serif;
    font-size: 2rem;
}
.tytBosKonularContainer{
    display: grid;
    grid-template-columns: 1fr !important; 
    margin: 2rem 3rem;
    border-radius: .6rem;
    background-color: var(--background-color);
    border: .1rem solid var(--third-color);
    border-radius: .6rem;

}
.tytBosKonularDersContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);

}
.dersYanlisContainer{
    padding: 1rem;
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr;
}
.dersYanlisTitleContainer{
    display: flex;
    justify-content: center;
    height: fit-content;

}
.dersYanlisTitle{
    font-family: "Catamaran", sans-serif;
    color: var(--text-color);
    font-size: 2rem;
    text-align: center;
}
.tytBosKonularContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.dersYanlisIsimlerContainer{
    display: grid;
    grid-template-columns: 1fr;

}
.dersYanlisIsim{
    font-family: "Source Sans 3", sans-serif;
    color: var(--text-color);
    font-size: 2rem;
    text-align: center;
    margin: 1rem 0rem;
    height: fit-content;
    
}

.fa-angle-down, .fa-angle-up{
    font-size: 2rem;
    cursor: pointer;
    margin: 0 1.5rem;
}
.tytEkleContainer{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 7rem;
    background-color: var(--background-color);
   
}
.tytNetlerContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    padding: 2rem;
}
.dersNetContainer{
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr;
}
.dersNetCon{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.dersTitle h3{
    color: var(--text-color);
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    font-family: "Catamaran", sans-serif;
}
.dersDogruCon{
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 2rem;
}
.dersYanlisCon{
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 2rem;   

}
.tytYanlisKonularContainer{
    display: grid;
    grid-template-columns: 1fr;
    max-height: max-content;
}
.tytYanlisBaslikContainer{
    display: flex;
    justify-content: center;
    align-items: start;
}
.tytYanlisBaslikContainer h4{
    color: var(--text-color);
    font-family: "Catamaran", sans-serif;
    font-size: 2rem;
}
.fa-angle-down, .fa-angle-up{
    font-size: 2rem;
    cursor: pointer;
    margin: 0 1.5rem;
}
.tytYanlisKonuEkleContainer{
    display: grid;
    height: fit-content;

}
.derslerYanlisContainer{
    display: grid;
    margin-top: 1rem;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    height: fit-content;
    max-height: fit-content;

}
.dersYanlisContainer{
    height: fit-content;
    max-height: fit-content;

}
.dersYanlisTitleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: fit-content;
    height: fit-content;
}
.dersYanlisTitleContainer h3{
    color: var(--text-color);
    font-family: "Catamaran", sans-serif;
    font-size: 2rem;

}
.dersYanlisCheckBoxes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: fit-content;
    height: fit-content;
}
.checkBoxContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin-top: 1rem;
}
.tytBosKonularContainer{
    margin-top: 3rem;
}
.konuCheckBox {
    width: 2.5rem;
    height: 2.5rem;
    border: .1rem solid var(--third-color);
    margin: 0 2rem;
    justify-self: left;
    cursor: pointer;
}
.konuCheckBox:checked{
   accent-color: var(--third-color);
}
.konuCheckBoxTitle{
    color: var(--text-color);
    font-size: 2rem;
    text-align: center;
    margin: 0 1rem;
    justify-self: left;
}
.dogruYanlisInput{
    width: 8rem;
    height: 3rem;
    border-radius: 1rem;
    border: none;

    padding: 1rem;
    text-align: center;
    font-family: "Source Sans 3", sans-serif;
    color: var(--text-color);
    background-color: var(--secondary-color);
    font-size: 1.6rem;

}
::placeholder{
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 300;
}
.ekleButtonContainer{
    display: grid;
    justify-content: end;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 3rem;
}

.ekleButton{
    width: 15rem;
    height: 3rem;
    font-size: 1.8rem;
    border-radius: 1rem;
    border: none;

    color: var(--text-color);
    font-family: "Source Sans 3", sans-serif;
    background-color: var(--line-color);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.ekleButton:hover{
    background-color: var(--text-color);
    border: none;

    color: var(--background-color);
}

@media screen and (max-width: 970px) {
    .tytContainer{
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
    .tytYanlisKonularContainer{
        grid-template-columns: 1fr;
    }
    .tytYanlisKonularDersContainer{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
    }
    .tytNetlerContainer{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
    }
    .derslerYanlisContainer{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
    }
    .dersYanlisContainer{
        margin-top: 2rem;
    }
    .editContainer{
        grid-column-start: 1;
    }
}