<div class="konuContainer">
    <div class="derslerInputsContainer">
        <div class="dersAdiCon">
            <input type="text" [value]="konuAdi" class="dersAdiInput" #txtKonuAdi data-aos="fade-left" data-aos-duration="1000">
        </div>
    </div>
    <div class="derslerBilgiContainer">
        <div class="toggleAytTyt">
            <div class="toggleTyt toggleDeneme">
                <h5 data-aos="fade-right" data-aos-duration="1000">TYT</h5>
            </div>
                <div class="container" data-aos="flip-up" data-aos-duration="1000">
                    <input type="checkbox" id="cup" (click)="isAytOrTyt()" class="toggleCheckbox">
                    <label for="cup"></label>
                </div>
            <div class="toggleAyt toggleDeneme">
                <h5 data-aos="fade-left" data-aos-duration="1000">AYT</h5>
            </div>
        </div>
        <div class="derslerContainer">
            <div class="dersContainer" *ngIf="tytKonuShow">
                <div class="checkBoxContainer" *ngFor="let checkbox of tytDersler" data-aos="fade-right" data-aos-duration="1000" (click)="findDersId(checkbox.id)" >
                    <input type="checkbox" class="konuCheckBox" id="{{checkbox.id}}" [checked]="checkbox.id === dersId">
                    <label for="{{checkbox.id}}" class="konuCheckBoxTitle">{{checkbox.dersAdi}}</label>
                </div>
            </div>
            <div class="dersContainer" *ngIf="!tytKonuShow">
                <div class="checkBoxContainer" *ngFor="let checkbox of aytDersler" data-aos="fade-right" data-aos-duration="1000" (click)="findDersId(checkbox.id)" >
                    <input type="checkbox" class="konuCheckBox" id="{{checkbox.id}}" [checked]="checkbox.id === dersId">
                    <label for="{{checkbox.id}}" class="konuCheckBoxTitle">{{checkbox.dersAdi}}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="ekleButtonContainer" data-aos="fade-left" data-aos-duration="1000">
        <button class="ekleButton"  (click)="editKonu(txtKonuAdi.value)">Güncelle</button>
    </div>
</div>