<div class="passwordUpdateContainer">
    <div class="mainContainer" *ngIf=state.state>
        <div class="passwordContainer">
            <div class="passwordSpan">
                <input type="password" id="sifre" class="loginInput" id="passwordInput" data-aos="flip-up" data-aos-duration="1000" placeholder="Şifre" #txtPassword>
                <i class="fa-solid fa-eye gozIcon" (click)="gozAcKapa()" *ngIf="!sifreGor" data-aos="flip-up" data-aos-duration="1000"></i>
                <i class="fa-solid fa-eye-slash gozIcon" (click)="gozAcKapa()" *ngIf="sifreGor" data-aos="flip-up" data-aos-duration="1000"></i>
            </div>
            <div class="passwordSpan">
                <input type="password" id="sifreTekrar" class="loginInput" id="passwordInput2" data-aos="flip-up" data-aos-duration="1000" placeholder="Şifre Tekrar" #txtPassword2>
                <i class="fa-solid fa-eye gozIcon" (click)="gozAcKapa2()" *ngIf="!sifreGor2" data-aos="flip-up" data-aos-duration="1000"></i>
                <i class="fa-solid fa-eye-slash gozIcon" (click)="gozAcKapa2()" *ngIf="sifreGor2" data-aos="flip-up" data-aos-duration="1000"></i>
            </div>
        </div>
        <div class="loginButtonContainer" data-aos="flip-up" data-aos-duration="1000">
            <button class="loginButton" (click)="updatePassword(txtPassword.value,txtPassword2.value)">Şifreyi Yenile</button>
        </div>
    </div>
    
    <div class="container" *ngIf=!state.state>
        <h4 class="notFoundText">Bu link kullanılmamaktadır.</h4>
    </div>
</div>