.passwordUpdateContainer{
    margin-top: 7rem;
    width: 100%;
    background-color: var(--background-color);
    min-height: 10rem;
}
.mainContainer{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: var(--secondary-color);
}
.notFoundText{
    font-size: 2rem;
    font-family: "Catamaran", sans-serif;
    color: var(--text-color);
    text-align: center;
    padding: 2.4rem;
    font-weight: 400;
    background-color: var(--background-color);
    height: fit-content;
}
.passwordContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-column-start: 2;
    margin: 1.5rem;
}
.passwordSpan{
    height: 4rem;
    width: 100%;
    position: relative;
    margin: 1rem 0rem;
}
.gozIcon{
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem;
}
i{
    font-size: 2rem;
    color: var(--text-color);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginInput{
    width: 100%;
    height: 100%;
    border-radius: .6rem;
    font-family: "Catamaran", sans-serif;
    grid-column-start: 2;
    border: .2rem solid var(--third-color);
    height: 4rem;
    background-color: var(--backgrouund-color);
    padding: 1rem;
    font-size: 2rem;
    color: var(--text-color);
}
.loginInput::placeholder{
    display: flex;
    font-size: 2rem;
    font-family: "Catamaran", sans-serif;
    font-weight: 200;
    color: var(--text-color);
}
.loginButtonContainer{
    display: grid;
    margin-top: 1.2rem;
    grid-template-columns: 1fr 2fr 1fr;
    height: fit-content;
    max-height: fit-content;
    grid-column-start: 2;
    padding: 1rem;

}
.loginButton{
    background-color: var(--line-color);
    color: var(--text-color);
    border: .1rem solid var(--third-color);
    font-size: 2.2rem;
    font-family: "Catamaran", sans-serif;
    border-radius: 0.6rem;
    padding: .5rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    grid-column-start: 3;

}
@media screen and (max-width: 970px) {
    .mainContainer{
        grid-template-columns: 1fr;
    }
    
    
}